{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar">
   
    <div>
        <a href="{% url 'teamList' %}">&#8592; Back</a>
        {% if team_member.id %}
        <h1>
           Edit a Team Member
        </h1>{% else %}
        <h1>
            Add a Team Member
        </h1>
        {% endif %}
       
    </div>
   
    
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        {% if team_member.id %}
        <a class="delete-button" href="{% url 'team-delete' team_member.id %}">Delete</a>
        {% endif %}
        <input class="button" type="submit" value="Save">

    </form>
</div>


{% endblock content %}